[Unit]
Description=Air Quality Data collection service
Wants=airQ.timer

[Service]
User=anjan
WorkingDirectory=/home/anjan/airQ
ExecStart=/home/anjan/.local/bin/airQ /home/anjan/data/data.json

[Install]
WantedBy=multi-user.target
